<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>avatar.tsx.html</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
</head>
<body>
  <h1>avatar.tsx.html</h1>
  <pre><code class="language-html">&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
  &lt;meta charset="UTF-8"&gt;
  &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
  &lt;title&gt;avatar.tsx&lt;/title&gt;
  &lt;link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css"&gt;
  &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"&gt;&lt;/script&gt;
  &lt;script&gt;hljs.highlightAll();&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;h1&gt;avatar.tsx&lt;/h1&gt;
  &lt;pre&gt;&lt;code class="language-tsx"&gt;"use client"

import * as React from "react"
import * as AvatarPrimitive from "@radix-ui/react-avatar"

import { cn } from "@/lib/utils"

const Avatar = React.forwardRef&amp;lt;
  React.ElementRef&amp;lt;typeof AvatarPrimitive.Root&amp;gt;,
  React.ComponentPropsWithoutRef&amp;lt;typeof AvatarPrimitive.Root&amp;gt;
&amp;gt;(({ className, ...props }, ref) =&amp;gt; (
  &amp;lt;AvatarPrimitive.Root
    ref={ref}
    className={cn(`
      after:content-[''] after:block after:absolute after:inset-0 after:rounded-full after:pointer-events-none after:border after:border-black/10 dark:after:border-white/10
      relative flex h-10 w-10 shrink-0 overflow-hidden rounded-full`,
      className
    )}
    {...props}
  /&amp;gt;
))
Avatar.displayName = AvatarPrimitive.Root.displayName

const AvatarImage = React.forwardRef&amp;lt;
  React.ElementRef&amp;lt;typeof AvatarPrimitive.Image&amp;gt;,
  React.ComponentPropsWithoutRef&amp;lt;typeof AvatarPrimitive.Image&amp;gt;
&amp;gt;(({ className, ...props }, ref) =&amp;gt; (
  &amp;lt;AvatarPrimitive.Image
    ref={ref}
    className={cn("aspect-square h-full w-full", className)}
    {...props}
  /&amp;gt;
))
AvatarImage.displayName = AvatarPrimitive.Image.displayName

const AvatarFallback = React.forwardRef&amp;lt;
  React.ElementRef&amp;lt;typeof AvatarPrimitive.Fallback&amp;gt;,
  React.ComponentPropsWithoutRef&amp;lt;typeof AvatarPrimitive.Fallback&amp;gt;
&amp;gt;(({ className, ...props }, ref) =&amp;gt; (
  &amp;lt;AvatarPrimitive.Fallback
    ref={ref}
    className={cn(
      "flex h-full w-full items-center justify-center rounded-full bg-muted",
      className
    )}
    {...props}
  /&amp;gt;
))
AvatarFallback.displayName = AvatarPrimitive.Fallback.displayName

export { Avatar, AvatarImage, AvatarFallback }
&lt;/code&gt;&lt;/pre&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
</body>
</html>