<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>resizable.tsx.html</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
</head>
<body>
  <h1>resizable.tsx.html</h1>
  <pre><code class="language-html">&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
  &lt;meta charset="UTF-8"&gt;
  &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
  &lt;title&gt;resizable.tsx&lt;/title&gt;
  &lt;link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css"&gt;
  &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"&gt;&lt;/script&gt;
  &lt;script&gt;hljs.highlightAll();&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;h1&gt;resizable.tsx&lt;/h1&gt;
  &lt;pre&gt;&lt;code class="language-tsx"&gt;"use client"

import { GripVertical } from "lucide-react"
import * as ResizablePrimitive from "react-resizable-panels"

import { cn } from "@/lib/utils"

const ResizablePanelGroup = ({
  className,
  ...props
}: React.ComponentProps&amp;lt;typeof ResizablePrimitive.PanelGroup&amp;gt;) =&amp;gt; (
  &amp;lt;ResizablePrimitive.PanelGroup
    className={cn(
      "flex h-full w-full data-[panel-group-direction=vertical]:flex-col",
      className
    )}
    {...props}
  /&amp;gt;
)

const ResizablePanel = ResizablePrimitive.Panel

const ResizableHandle = ({
  withHandle,
  className,
  ...props
}: React.ComponentProps&amp;lt;typeof ResizablePrimitive.PanelResizeHandle&amp;gt; &amp;amp; {
  withHandle?: boolean
}) =&amp;gt; (
  &amp;lt;ResizablePrimitive.PanelResizeHandle
    className={cn(
      "relative flex w-px items-center justify-center bg-border after:absolute after:inset-y-0 after:left-1/2 after:w-1 after:-translate-x-1/2 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring focus-visible:ring-offset-1 data-[panel-group-direction=vertical]:h-px data-[panel-group-direction=vertical]:w-full data-[panel-group-direction=vertical]:after:left-0 data-[panel-group-direction=vertical]:after:h-1 data-[panel-group-direction=vertical]:after:w-full data-[panel-group-direction=vertical]:after:-translate-y-1/2 data-[panel-group-direction=vertical]:after:translate-x-0 [&amp;amp;[data-panel-group-direction=vertical]&amp;gt;div]:rotate-90",
      className
    )}
    {...props}
  &amp;gt;
    {withHandle &amp;amp;&amp;amp; (
      &amp;lt;div className="z-10 flex h-4 w-3 items-center justify-center rounded-sm border bg-border"&amp;gt;
        &amp;lt;GripVertical className="h-2.5 w-2.5" /&amp;gt;
      &amp;lt;/div&amp;gt;
    )}
  &amp;lt;/ResizablePrimitive.PanelResizeHandle&amp;gt;
)

export { ResizablePanelGroup, ResizablePanel, ResizableHandle }
&lt;/code&gt;&lt;/pre&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
</body>
</html>