<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>navigation-menu.tsx</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
</head>
<body>
  <h1>navigation-menu.tsx</h1>
  <pre><code class="language-tsx">import * as React from "react"
import * as NavigationMenuPrimitive from "@radix-ui/react-navigation-menu"
import { cva } from "class-variance-authority"
import { ChevronDown } from "lucide-react"

import { cn } from "@/lib/utils"

const NavigationMenu = React.forwardRef&lt;
  React.ElementRef&lt;typeof NavigationMenuPrimitive.Root&gt;,
  React.ComponentPropsWithoutRef&lt;typeof NavigationMenuPrimitive.Root&gt;
&gt;(({ className, children, ...props }, ref) =&gt; (
  &lt;NavigationMenuPrimitive.Root
    ref={ref}
    className={cn(
      "relative z-10 flex max-w-max flex-1 items-center justify-center",
      className
    )}
    {...props}
  &gt;
    {children}
    &lt;NavigationMenuViewport /&gt;
  &lt;/NavigationMenuPrimitive.Root&gt;
))
NavigationMenu.displayName = NavigationMenuPrimitive.Root.displayName

const NavigationMenuList = React.forwardRef&lt;
  React.ElementRef&lt;typeof NavigationMenuPrimitive.List&gt;,
  React.ComponentPropsWithoutRef&lt;typeof NavigationMenuPrimitive.List&gt;
&gt;(({ className, ...props }, ref) =&gt; (
  &lt;NavigationMenuPrimitive.List
    ref={ref}
    className={cn(
      "group flex flex-1 list-none items-center justify-center space-x-1",
      className
    )}
    {...props}
  /&gt;
))
NavigationMenuList.displayName = NavigationMenuPrimitive.List.displayName

const NavigationMenuItem = NavigationMenuPrimitive.Item

const navigationMenuTriggerStyle = cva(
  "group inline-flex h-10 w-max items-center justify-center rounded-md bg-background px-4 py-2 text-sm font-medium transition-colors hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground focus:outline-none disabled:pointer-events-none disabled:opacity-50 data-[state=open]:text-accent-foreground data-[state=open]:bg-accent/50 data-[state=open]:hover:bg-accent data-[state=open]:focus:bg-accent"
)

const NavigationMenuTrigger = React.forwardRef&lt;
  React.ElementRef&lt;typeof NavigationMenuPrimitive.Trigger&gt;,
  React.ComponentPropsWithoutRef&lt;typeof NavigationMenuPrimitive.Trigger&gt;
&gt;(({ className, children, ...props }, ref) =&gt; (
  &lt;NavigationMenuPrimitive.Trigger
    ref={ref}
    className={cn(navigationMenuTriggerStyle(), "group", className)}
    {...props}
  &gt;
    {children}{" "}
    &lt;ChevronDown
      className="relative top-[1px] ml-1 h-3 w-3 transition duration-200 group-data-[state=open]:rotate-180"
      aria-hidden="true"
    /&gt;
  &lt;/NavigationMenuPrimitive.Trigger&gt;
))
NavigationMenuTrigger.displayName = NavigationMenuPrimitive.Trigger.displayName

const NavigationMenuContent = React.forwardRef&lt;
  React.ElementRef&lt;typeof NavigationMenuPrimitive.Content&gt;,
  React.ComponentPropsWithoutRef&lt;typeof NavigationMenuPrimitive.Content&gt;
&gt;(({ className, ...props }, ref) =&gt; (
  &lt;NavigationMenuPrimitive.Content
    ref={ref}
    className={cn(
      "left-0 top-0 w-full data-[motion^=from-]:animate-in data-[motion^=to-]:animate-out data-[motion^=from-]:fade-in data-[motion^=to-]:fade-out data-[motion=from-end]:slide-in-from-right-52 data-[motion=from-start]:slide-in-from-left-52 data-[motion=to-end]:slide-out-to-right-52 data-[motion=to-start]:slide-out-to-left-52 md:absolute md:w-auto ",
      className
    )}
    {...props}
  /&gt;
))
NavigationMenuContent.displayName = NavigationMenuPrimitive.Content.displayName

const NavigationMenuLink = NavigationMenuPrimitive.Link

const NavigationMenuViewport = React.forwardRef&lt;
  React.ElementRef&lt;typeof NavigationMenuPrimitive.Viewport&gt;,
  React.ComponentPropsWithoutRef&lt;typeof NavigationMenuPrimitive.Viewport&gt;
&gt;(({ className, ...props }, ref) =&gt; (
  &lt;div className={cn("absolute left-0 top-full flex justify-center")}&gt;
    &lt;NavigationMenuPrimitive.Viewport
      className={cn(
        "origin-top-center relative mt-1.5 h-[var(--radix-navigation-menu-viewport-height)] w-full overflow-hidden rounded-md border bg-popover text-popover-foreground shadow-lg data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-90 md:w-[var(--radix-navigation-menu-viewport-width)]",
        className
      )}
      ref={ref}
      {...props}
    /&gt;
  &lt;/div&gt;
))
NavigationMenuViewport.displayName =
  NavigationMenuPrimitive.Viewport.displayName

const NavigationMenuIndicator = React.forwardRef&lt;
  React.ElementRef&lt;typeof NavigationMenuPrimitive.Indicator&gt;,
  React.ComponentPropsWithoutRef&lt;typeof NavigationMenuPrimitive.Indicator&gt;
&gt;(({ className, ...props }, ref) =&gt; (
  &lt;NavigationMenuPrimitive.Indicator
    ref={ref}
    className={cn(
      "top-full z-[1] flex h-1.5 items-end justify-center overflow-hidden data-[state=visible]:animate-in data-[state=hidden]:animate-out data-[state=hidden]:fade-out data-[state=visible]:fade-in",
      className
    )}
    {...props}
  &gt;
    &lt;div className="relative top-[60%] h-2 w-2 rotate-45 rounded-tl-sm bg-border shadow-md" /&gt;
  &lt;/NavigationMenuPrimitive.Indicator&gt;
))
NavigationMenuIndicator.displayName =
  NavigationMenuPrimitive.Indicator.displayName

export {
  navigationMenuTriggerStyle,
  NavigationMenu,
  NavigationMenuList,
  NavigationMenuItem,
  NavigationMenuContent,
  NavigationMenuTrigger,
  NavigationMenuLink,
  NavigationMenuIndicator,
  NavigationMenuViewport,
}
</code></pre>
</body>
</html>