<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>progress.tsx</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
</head>
<body>
  <h1>progress.tsx</h1>
  <pre><code class="language-tsx">"use client"

import * as React from "react"
import * as ProgressPrimitive from "@radix-ui/react-progress"

import { cn } from "@/lib/utils"

const Progress = React.forwardRef&lt;
  React.ElementRef&lt;typeof ProgressPrimitive.Root&gt;,
  React.ComponentPropsWithoutRef&lt;typeof ProgressPrimitive.Root&gt;
&gt;(({ className, value, ...props }, ref) =&gt; (
  &lt;ProgressPrimitive.Root
    ref={ref}
    className={cn(
      "relative h-4 w-full overflow-hidden rounded-full bg-secondary",
      className
    )}
    {...props}
  &gt;
    &lt;ProgressPrimitive.Indicator
      className="h-full w-full flex-1 bg-primary transition-all"
      style={{ transform: `translateX(-${100 - (value || 0)}%)` }}
    /&gt;
  &lt;/ProgressPrimitive.Root&gt;
))
Progress.displayName = ProgressPrimitive.Root.displayName

export { Progress }
</code></pre>
</body>
</html>