<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>separator.tsx</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
</head>
<body>
  <h1>separator.tsx</h1>
  <pre><code class="language-tsx">import * as React from "react"
import * as SeparatorPrimitive from "@radix-ui/react-separator"

import { cn } from "@/lib/utils"

const Separator = React.forwardRef&lt;
  React.ElementRef&lt;typeof SeparatorPrimitive.Root&gt;,
  React.ComponentPropsWithoutRef&lt;typeof SeparatorPrimitive.Root&gt;
&gt;(
  (
    { className, orientation = "horizontal", decorative = true, ...props },
    ref
  ) =&gt; (
    &lt;SeparatorPrimitive.Root
      ref={ref}
      decorative={decorative}
      orientation={orientation}
      className={cn(
        "shrink-0 bg-border",
        orientation === "horizontal" ? "h-[1px] w-full" : "h-full w-[1px]",
        className
      )}
      {...props}
    /&gt;
  )
)
Separator.displayName = SeparatorPrimitive.Root.displayName

export { Separator }
</code></pre>
</body>
</html>