<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>table.tsx</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
</head>
<body>
  <h1>table.tsx</h1>
  <pre><code class="language-tsx">import * as React from "react"

import { cn } from "@/lib/utils"

const Table = React.forwardRef&lt;
  HTMLTableElement,
  React.HTMLAttributes&lt;HTMLTableElement&gt;
&gt;(({ className, ...props }, ref) =&gt; (
  &lt;div className="relative w-full overflow-auto"&gt;
    &lt;table
      ref={ref}
      className={cn("w-full caption-bottom text-sm", className)}
      {...props}
    /&gt;
  &lt;/div&gt;
))
Table.displayName = "Table"

const TableHeader = React.forwardRef&lt;
  HTMLTableSectionElement,
  React.HTMLAttributes&lt;HTMLTableSectionElement&gt;
&gt;(({ className, ...props }, ref) =&gt; (
  &lt;thead ref={ref} className={cn("[&amp;_tr]:border-b", className)} {...props} /&gt;
))
TableHeader.displayName = "TableHeader"

const TableBody = React.forwardRef&lt;
  HTMLTableSectionElement,
  React.HTMLAttributes&lt;HTMLTableSectionElement&gt;
&gt;(({ className, ...props }, ref) =&gt; (
  &lt;tbody
    ref={ref}
    className={cn("[&amp;_tr:last-child]:border-0", className)}
    {...props}
  /&gt;
))
TableBody.displayName = "TableBody"

const TableFooter = React.forwardRef&lt;
  HTMLTableSectionElement,
  React.HTMLAttributes&lt;HTMLTableSectionElement&gt;
&gt;(({ className, ...props }, ref) =&gt; (
  &lt;tfoot
    ref={ref}
    className={cn(
      "border-t bg-muted/50 font-medium [&amp;&gt;tr]:last:border-b-0",
      className
    )}
    {...props}
  /&gt;
))
TableFooter.displayName = "TableFooter"

const TableRow = React.forwardRef&lt;
  HTMLTableRowElement,
  React.HTMLAttributes&lt;HTMLTableRowElement&gt;
&gt;(({ className, ...props }, ref) =&gt; (
  &lt;tr
    ref={ref}
    className={cn(
      "border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted",
      className
    )}
    {...props}
  /&gt;
))
TableRow.displayName = "TableRow"

const TableHead = React.forwardRef&lt;
  HTMLTableCellElement,
  React.ThHTMLAttributes&lt;HTMLTableCellElement&gt;
&gt;(({ className, ...props }, ref) =&gt; (
  &lt;th
    ref={ref}
    className={cn(
      "h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0",
      className
    )}
    {...props}
  /&gt;
))
TableHead.displayName = "TableHead"

const TableCell = React.forwardRef&lt;
  HTMLTableCellElement,
  React.TdHTMLAttributes&lt;HTMLTableCellElement&gt;
&gt;(({ className, ...props }, ref) =&gt; (
  &lt;td
    ref={ref}
    className={cn("p-4 align-middle [&amp;:has([role=checkbox])]:pr-0", className)}
    {...props}
  /&gt;
))
TableCell.displayName = "TableCell"

const TableCaption = React.forwardRef&lt;
  HTMLTableCaptionElement,
  React.HTMLAttributes&lt;HTMLTableCaptionElement&gt;
&gt;(({ className, ...props }, ref) =&gt; (
  &lt;caption
    ref={ref}
    className={cn("mt-4 text-sm text-muted-foreground", className)}
    {...props}
  /&gt;
))
TableCaption.displayName = "TableCaption"

export {
  Table,
  TableHeader,
  TableBody,
  TableFooter,
  TableHead,
  TableRow,
  TableCell,
  TableCaption,
}
</code></pre>
</body>
</html>